
# Space API Keys
nasa_api_key="DEMO_KEY"
google_api_key=""
# N2YO Satellite Tracking API (Optional - get free key from n2yo.com)
n2yo_api_key=""


# Secret Key for JWT
SECRET_KEY="your-super-secret-key-that-you-should-definitely-change"